<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBBcmvQvvIPxAV5Bk3Ha-1O4GOuDvBV2xM</string>
	<key>GCM_SENDER_ID</key>
	<string>433714366508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.softwareEngineering</string>
	<key>PROJECT_ID</key>
	<string>learning-app-6db81</string>
	<key>STORAGE_BUCKET</key>
	<string>learning-app-6db81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433714366508:ios:273dae7b568a8b4754e989</string>
</dict>
</plist>